html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    font-size: large;
    background-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
}

.page-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #000 url("../images/logo.svg") no-repeat center center fixed;
    background-size: 70% 70%;
}

.page-background:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom right, #333, #333);
    background-attachment: fixed;
    opacity: .8;
}

header, content, footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: min-content 1fr auto;
    align-items: center;
    background-color: #6c5b85;
}

header .logo {
    height: 40px;
    margin: 0 10px;
}

header h1 {
    margin: 10px;
    font-size: x-large;
}

header h1 a {
    color: #ddd;
    text-decoration: none;
}

header input[type=checkbox] {
    display: none;
}

header .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    padding: 6px 20px;
    display: none;
}

header .hamburger:after {
    content: "☰";
}

header nav {
    padding: 0 10px;
}

header nav a {
    padding: 10px;
    text-decoration: none;
    color: #ddd;
}

header nav a:hover {
    background-color: #4c405e;
}

header nav a.active {
    background-color: #4c405e;
}

@media (max-width: 824px) {
    header {
        grid-template-columns: min-content 1fr min-content;
    }

    header nav {
        display: none;
        background-color: #5b4d6e;
        text-align: center;
        padding: 16px;
        grid-column: 1 / span 3;
    }
    
    header input[type=checkbox]:checked ~ nav {
        display: inline-block;
    }

    header input[type=checkbox]:checked ~ nav a {
        display: inline-block;
    }
    
    header .hamburger {
        display: inline-block;
    }

    header input[type=checkbox]:checked ~ .hamburger:after {
        content: "✖";
    }
}

content {
    flex-grow: 1;
}

content > * {
    margin: 20px;
}

content ul {
    list-style: none;
    padding-left: 0;
}

content a {
    text-decoration: none;
    color: #add6ff
}

content a:hover {
    color: #d2adff
}

details summary h1, details summary h2, details summary h3, details summary h4, details summary h5, details summary h6 {
    display: inline-block;
}

details {
    margin-top: 0;
    margin-bottom: 0;
}

details summary {
    user-select: none;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary:first-of-type {
    list-style-type: none;
}

details summary:after {
    margin-left: 10px;
    content: "▷";
}

details[open] summary:after {
    content: "▽";
}

summary {
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #3c3c3c;
}

footer p {
    margin: 5px 10px;
}
